html,
body{
    background-image: url(https://images.wallpaperscraft.com/image/tiger_graffiti_street_art_137823_1920x1080.jpg);
}
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }

}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 0.1em solid #fff;
  width: 40%;
  margin:auto;
}
.indexRow{
 padding-bottom:10%;
 padding-top:10%;
}
.stylistsTitle{
padding-bottom:20px;
text-align:center;
}

.transparentInputFields{
 background-color:rgba(0,0,0,0.4);
}
.alignCenter{
padding-bottom:20px;
padding-top:20px;
width:20%;
margin:auto;
}
.typeClass{
padding-top:20px;

}

.container {
    display: flex;
    width: 90vw;
  }
  
  .panel {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
  }
  
  .panel h3 {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity .3s ease-in 0.5s;
  }
  
  @media(max-width: 480px) {
    .container {
      width: 100vw;
    }
    
    .panel:nth-of-type(4), .panel:nth-of-type(5) {
      display: none;
    }
  }