<!DOCTYPE html>
<html lang="en">
  <head>
  <header>
    <title>Wildlife tracker</title>
    <div class="wrapper">
  <h1>Wild Life Animals</h1>
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/lionesses_lioness_big_cat_178753_1920x1080.jpg)">
						<div class="inner">
							<p>Lioness</p>
              <span>Hunter</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>
A female lion is called: lioness she-lion So next time You see a female lion, don't call her a woman! What is a female lobster called? Most lionesses are capable of breeding from the age of four. Lionesses have a short coat of stiff, tan hair and lack the mane that characterizes male lions..</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/lion_mane_predator_71773_1920x1080.jpg)">
						<div class="inner">
							<p>Lion</p>
              <span>King</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Being predominantly Nocturnal, lions lose their inherent fear of humans at night and become much more dangerous and prone to attack.Avoid camping in areas of high lion density maintain a watch throughout the night if worried.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/elephants_young_mother_caring_mud_bathing_92053_1920x1080.jpg)">
						<div class="inner">
							<p>Elephant</p>
              <span>Big Foot</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>
Image result for elephant
Generally they're a gentle animal  on occasion they can get violent, and they can cause serious pain on those around them, including humans. Yes, for anyone still wondering can elephants kill you, be assured they definitely can and will.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/cheetah_herd_lot_walking_hunting_grass_39953_1280x720.jpg)">
						<div class="inner">
							<p>Cheetah</p>
              <span>Flash</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Cheetahs are not an active threat to humans, and are rather docile compared to other wild cats. But, cheetahs are still wild animals, and you should never attempt to touch a wild cheetah. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/buffalo_mud_cooling_78132_1920x1080.jpg">
						<div class="inner">
							<p>Buffalo</p>
              <span>Buffer</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>
The buffalo was a favourite of big game hunters (hence their status as one of the big five), and are known to attack humans by circle back on their victims before charging, then trampling or goring them to death using their sharp horns. Buffalos kill an estimated 200 people each year.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/giraffe_nature_food_walk_52548_1920x1080.jpg)">
						<div class="inner">
							<p>Giraffe</p>
              <span>Viewer</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>A giraffe can kick in any direction and in a manner of ways, and its kick can not only kill a lion, but has even been known to decapitate (behead) it.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/rhino_grass_food_horn_56855_1920x1080.jpg)">
						<div class="inner">
							<p>Rhino</p>
              <span>Executioner</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>If a rhino misses while it is chasing you one way, turn and run in the opposite direction. They rarely continue an attack again in the opposite direction.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.wallpaperscraft.com/image/hippopotamus_river_fall_cry_grass_52395_1920x1080.jpg)">
						<div class="inner">
							<p>hippopotamus</p>
              <span>Submarine</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Hippos are aggressive and are considered very dangerous. They have large teeth and tusks that they use for fighting off threats, including humans. Sometimes, their young fall victim to adult hippos' tempers.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
 </div>
    
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
     <link rel='stylesheet' href='/app.css'>
    <script src="/app.js"> </script>
  </head>
  <body>
      #parse( $template )
  </body>
</html>