
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width) {
  html,
  body,
  header,
  .view {
    height: 100px;
  }
}

.top-nav-collapse {
  background-color: #d0ff00 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #e7d0008c !important;
  }

}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 0.1em solid rgba(255, 255, 255, 0.425);
  width: 40%;
  margin:auto;
}
.indexRow{
 padding-bottom:10%;
 padding-top:10%;
}
.stylistsTitle{
padding-bottom:20px;
text-align:center;
}


.transparentInputFields{
 background-color:rgba(255, 255, 255, 0.4);
}
.alignCenter{
padding-bottom:20px;
padding-top:20px;
width:20%;
margin:auto;
}
.typeClass{
padding-top:20px;

}



